[submodule "MeetingfyApi"]
	path = MeetingfyApi
	url = https://github.com/NickNish09/MeetingfyApi.git
[submodule "MeetingfyFront"]
	path = MeetingfyFront
	url = https://github.com/NickNish09/MeetingfyFront.git
